*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    margin: 30px;
}

.counter {
    width: 30%;
    display: flex;
    justify-content: center;
   
}

#plus-btn, #minus-btn, #reset-btn {
    height: 50px;
    width: 120px;
    padding: 0 40px;
    border-radius: 10px;
    font-size: 40px;
    background-color: #f78df099;
    border: 2px solid #ffffff;
    color: white;
    margin: 20px;
    cursor: pointer;
}

#reset-btn{
    font-size: 20px;
}

#plus-btn:hover, #minus-btn:hover, #reset-btn:hover{
    background-color: thistle;
}

#counter-value {
    height: 50px;
    min-width: 120px;
    border-radius: 10px;
    background-color: rgba(0, 187, 255, 0.187);
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}